.container {
  margin: 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(57, 5, 106);
  
}
@keyframes changeColor {
  to {filter: hue-rotate(90deg);}
}
@media(max-width : 750px ) {
.container {

  display: block;
  
}
 
}