.container {
  text-align: center;
  margin: 60px;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 10px;
}

.container h3 {
  font-size: 4rem;
  align-items: center;
}

.container img{
  width: 150px;
  height: 150px;
  padding-bottom: 50px ;
  overflow: hidden;
  
  
}
.container div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  
}

@media (max-width : 780px) {
  .container img{
    width: 90px;
    height: 90px;
  }

  .container {
    text-align: center;
    margin: 20px;
  }
}